ruby > rt {
  display: none !important;
}

.pinyin-show {
  .chinese-pinyin {
    display: ruby;
    white-space: nowrap;
    zoom: attr(data-zoom type(<number>), 1.25);

    > rt {
      display: ruby-text !important;
    }
  }
}
